#buttons {
  text-align:center;
  padding:5px;
  margin:5px;
}

#textEditor {

resize:vertical;
overflow:auto;
border-radius:5px;
padding:1em;
height : 300px;
}

a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
a:active {text-decoration:none;}
a{
  color:black;
  padding:5px;
  border-radius:0;
  width:1em;}
  
  h1 { color : #4682B4 } ;
